<header class="header-wrapper">
	<h1 class="logo"><a href="/<%= LANG %>/book"><%= GLOBAL.LOGO %></a></h1>
	<nav class="navi-wrap">
		<a href="/<%= LANG %>/book" class="navi"><%= GLOBAL.NAVI[1] %></a>
		<% if(user) { %>
			<a href="/<%= LANG %>/book/form" class="navi"><%= GLOBAL.NAVI[0] %></a>
			<a href="/<%= LANG %>/auth/logout" class="navi"><%= GLOBAL.NAVI[3] %></a>
		<% } else { %>
			<a href="/<%= LANG %>/auth/login" class="navi"><%= GLOBAL.NAVI[2] %></a>
			<a href="/<%= LANG %>/auth/form" class="navi"><%= GLOBAL.NAVI[4] %></a>
		<% } %>
	</nav>
	<nav class="lang-wrap">
		<a href="/ko/book" class="navi <%= (LANG === 'ko' ? 'active': '') %>">한국어</a>
		<span> | </span>
		<a href="/en/book" class="navi <%= (LANG === 'en' ? 'active': '') %>">영어</a>
	</nav>
</header>

