<%- include('../inc/head', { css }) %> 
<%- include('../inc/header') %>
<script src="/js/promise.polyfill.min.js"></script> 
<script src="/js/axios.min.js"></script> 
<div class="form-wrapper wrapper">
	<%- include('../inc/title-book') %> 
	<form action="/<%= LANG %>/book" method="POST" name="saveForm" enctype="multipart/form-data">
		<% if(book) { %>
			<input type="hidden" name="_method" value="PUT">
			<input type="hidden" name="idx" value="<%= book.idx %>">
		<% } %>
		<table>
			<tbody>
				<tr>
					<td class="title require"><%= FIELD.TITLE %></td>
					<td class="content">
						<input type="text" name="title" class="form-control" placeholder="<%= FIELD.TITLE %>" autofocus value="<%= book ? book.title : '' %>">
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.WRITER %></td>
					<td class="content">
						<input type="text" name="writer" class="form-control" placeholder="<%= FIELD.WRITER %>"  value="<%= book ? book.writer : '' %>">
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.CONTENT %></td>
					<td class="content">
						<textarea name="content" class="form-control" placeholder="<%= FIELD.CONTENT %>"><%= book ? book.content : '' %></textarea>
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.COVER %></td>
					<td class="content">
						<% if(book && book.cover) { %>
							<div class="file-wrap">
								<img src="<%= book.cover.path %>" alt="<%= book.cover.ori %>" class="img">
								<div class="file"><%= book.cover.ori %></div>
								<button type="button" class="btn btn-sm btn-danger" data-lang="<%= LANG %>"  data-idx="<%= book.cover.idx %>" id="btRemoveCover">삭제</button>
							</div>
						<% } %>
						<input type="file" name="cover" class="form-control-file">
					</td>
				</tr>
				<tr>
					<td class="title"><%= FIELD.UPFILE %></td>
					<td class="content">
						<% if(book && book.upfile) { %>
							<div class="file-wrap">
								<div class="file"><%= book.upfile.ori %></div>
								<button type="button" class="btn btn-sm btn-danger" data-lang="<%= LANG %>"  data-idx="<%= book.upfile.idx %>" id="btRemoveFile">삭제</button>
							</div>
						<% } %>
						<input type="file" name="upfile" class="form-control-file">
					</td>
				</tr>
			</tbody>
		</table>
		<div class="btn-wrap p-3 text-center">
			<button class="btn btn-success" id="btSave">
				<%= book ? BT.UPDATE : BT.CREATE %>
			</button>
			<button class="btn btn-danger" type="reset"><%= BT.RESET %></button>
		</div>
	</form>
</div>
<%- include('../inc/foot', { js }) %> 