<header class="header-wrapper">
	<h1 class="logo"><a href="/<%= LANG %>/book"><%= GLOBAL.LOGO %></a></h1>
	<nav class="navi-wrap">
		<a href="/<%= LANG %>/book" class="navi"><%= GLOBAL.NAVI[1] %></a>
		<% if(user) { %>
			<a href="/<%= LANG %>/book/form" class="navi"><%= GLOBAL.NAVI[0] %></a>
			<a href="/<%= LANG %>/mypage/user" class="navi"><%= GLOBAL.NAVI[5] %></a>
			<a href="/<%= LANG %>/auth/logout" class="navi"><%= GLOBAL.NAVI[3] %></a>
		<% } else { %>
			<a href="/<%= LANG %>/auth/login" class="navi"><%= GLOBAL.NAVI[2] %></a>
			<a href="/<%= LANG %>/auth/form" class="navi"><%= GLOBAL.NAVI[4] %></a>
		<% } %>
	</nav>
	<nav class="lang-wrap">
		<a href="javascript:chgLang('ko');" class="navi <%= (LANG === 'ko' ? 'active': '') %>">한국어</a>
		<span> | </span>
		<a href="javascript:chgLang('en');" class="navi <%= (LANG === 'en' ? 'active': '') %>">영어</a>
	</nav>
</header>
<script>
	function chgLang(_lang) {
		var protocol = location.protocol;
		var host = location.host;
		var pathname = location.pathname;
		var path = pathname.split('/')
		location.href = protocol + '//' + host + ((path[1] === 'ko' || path[1] === 'en')
			? pathname.replace('/'+path[1]+'/', '/'+_lang+'/')
			: '/' + _lang + pathname);
		}
</script>

